@use '../settings' as *;

html {
    height: 100%;
    color: var(--color-dark);
    font-weight: $weight-reg;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
}

body {
    font-family: $font-primary;
    font-size: var(--scale-zeta);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
