:focus {
  outline-offset: 0.2rem;
}

:focus-visible {
  outline: 2px solid currentcolor;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-size: var(--step-0);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}
