/* stylelint-disable CssSyntaxError */
@use 'sass:string';

/* ---------------------------------------
  Typography
--------------------------------------- */
@for $i from -2 through 5 {
  .fs-#{$i} {
    font-size: var(--step-#{$i});
  }
}

$line-heights: '1', '1.1', '1.2', '1.3', '1.4', '1.5', '1.6', '1.7', '1.8',
  '1.9', '2';
@each $lh in $line-heights {
  $lh-tenth: string.slice($lh, 1, 1);

  @if string.length($lh) > 1 {
    $lh-decimal: string.slice($lh, 3, 3);

    .lh-#{$lh-tenth}-#{$lh-decimal} {
      line-height: #{$lh};
    }
  } @else {
    .lh-#{$lh-tenth} {
      line-height: #{$lh};
    }
  }
}

$weights: 400, 500, 600;
@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: #{$weight};
  }
}

$decorations: 'overline', 'line-through', 'underline', 'none';
@each $decoration in $decorations {
  .decorate-#{$decoration} {
    text-decoration: #{$decoration};
  }
}

$aligns: 'right', 'left', 'center';
@each $align in $aligns {
  .align-#{$align} {
    text-align: #{$align};
  }
}

/* ---------------------------------------
  Display
--------------------------------------- */
$display: 'block', 'inline', 'inline-block', 'flex', 'inline-flex' 'grid';
@each $d in $display {
  .d-#{$d} {
    display: #{$d};
  }
}

$flex_pos: 'flex-start', 'flex-end', 'center', 'space-between', 'space-around',
  'space-evenly';
@each $justify in $flex_pos {
  .justify-#{$justify} {
    justify-content: #{$justify};
  }
}

/* ---------------------------------------
  Position
--------------------------------------- */
$position: 'relative', 'absolute', 'sticky', 'fixed';
@each $pos in $position {
  .#{$pos} {
    position: #{$pos};
  }
}

/* ---------------------------------------
  Spacing
--------------------------------------- */
.stack > * + * {
  margin-top: var(--stack-space, 0.5em);
}

.content {
  max-width: 55ch;
}

/* ---------------------------------------
  A11y
--------------------------------------- */
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}
